

.about_us_sg{
    margin-top: 30px;
}

.about_title{
    font-family: 'Bebas Neue',sans-serif!important;
    line-height: 1!important;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: bolder;
}



.about_text{
    margin-top: 15px;
    margin-bottom: 15px;
}

.zhoi{
    background-color:white;
}
.cont{
    color: white;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    
}

.footer{
    margin-top:85px;
    background-color: #262323;


}
.footer_column{
    display: flex;
    justify-content: space-between;
   
 }
 .footer_nav { 
     float: right; 
    }
.nav_content{
    display:none;
    display: flex; margin-top: 0; position: static;
    justify-content: space-between;
}
.nav_link {
    margin-top: 40px;
    margin-left: 90px;
    color: white;
    display: block;
    font-weight: 400;
    text-decoration: none;
    
}


.nav_links {
    color: white;
    font-weight: 400;
    text-decoration: none;
}
.footer_address{
   

    margin-top: 35px;
    margin-left: 25px;
    width: 40%;
    
    
}
.footer_details{
    clear: both; 
    float: right; 
    margin-top: 60px;
}
.nav_content li{
    list-style: none;
}
.footer_details li{
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.text_decoration{
    color: white;
    font-weight: bold;
}
.logo_foot{
  margin-top: 45px;
  
}




.boxlinks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    margin-top: 55px;
    
}

.box {
    position: relative;
    width: 100%;
    margin: 0 5px 10px;
    
}

@media (min-width: 768px) {
    .box {
        width: calc(50% - 10px);
    }
}

.box > a {
    display: inline-block;
    background: black;
}

.box img {
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    opacity:0.5;
}

.box:hover img {
    opacity: 1;
}

.box h2 {
    position: absolute;
    bottom: 0;
    padding-left: 15px;
    font-weight: bold;
    font-size: 7vw;
}
@media (min-width: 768px) {
    .box h2 {
        font-size: 3vw;
    }
}
.box h2 a {
    color: #fff;
    text-decoration: none;
}
.boxlinks img{
    width: 480px;
    height: 300px;
}
