.contact{
    color: black;
    margin-top: 35px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 85%;
    border: 1px solid #ddd;
}
th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #D3D3D3;
  }